.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    position: relative;
    width: 561px;
    height: 566px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .close {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .image {
    padding-top: 15px;
    width: 308px;
    height: 304px;
    margin: 10px;
  }
  
  .title {
    font-size: 28px;
    color: var(--primary-blue);
    margin: 10px 0;
  }
  
  .text {
    color: var(--black);
  }
  