:root {
    font-family: Nunito, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --black: #010E11;
    --primary-grey: #B9C1C2;
    --secondary-grey: #DEE0E0;
    --grey-white: #F5F6F6;
    --white: #F9F9FA;
    --primary-blue: #167287;
    --secondary-blue: #05BCB9;
    --blue-gradient: linear-gradient(to right, #05BCB9, #167287);
    --red: #CE3434;
  }
  
  
  